body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    font-family: sans-serif;
}
.headerContainer{
    position: relative;
}

.navContainerStyle{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.navContainerStyle:hover{
    background-color: #fff;
}
.navElementStyle{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menuItemStyle{
    padding: 2px 10px;
}
.carousel{
    height: 700px;
    position: relative;
}
.heroImage{
    height: 125%;
    width: 100%;
    /* position:absolute; */
    bottom:0;
    
}
.navArrows{
    background-color: rgba(0, 0, 0, .9);
    width: 100px;
    color: #fff;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.navArrows div{
    display: flex;
    align-items: center;
    padding: 5px;
}

