@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

/* The Navigation bar section ----------------------------------------------------------------------------------------------------------------*/
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    font-family: sans-serif;
    height: 900px;
}
.navContainerStyle {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.navContainerStyle:hover {
    background-color: #fff;
}
.headerContainer {
    position: relative;
}
.navElementStyle {
    list-style: none;
    display: none;
    flex-direction: row;
    justify-content: center;

}
.navElementStyle a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.navElementStyle a:hover{
    text-decoration: underline;
}
.menuItemStyle {
    padding: 2px 10px;
    margin: 0 15px;
}

/* The Carousel Section ----------------------------------------------------------------------------------------------------------------*/
.carousel {
    height: 700px;
    position: relative;
}

.heroImage {
    height: 135%;
    width: 100%;
    bottom: 0;

}
.carouselNavigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: -150px;
    left: 25px;
    color: #fff;

}
.carouselDescription p{
    background-color: rgba(0, 0, 0, .9);
    padding: 5px;
    margin: 0;
}
.navArrows {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, .9);
}
.navArrows button {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, .9);

}

/* The Gear Shop section --------------------------------------------------------------------------------------------------------*/
.gearShop{
    margin-top: 15%;
}
.gearShop h1{
    margin-left: 3%;
    font-size: 48px;
}
.gearContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
}
.article-container{
    height: 275px;
    padding: .25%;
    display: flex;
    position: relative;
}
.gearItem, .gearItemHover, .gearInfo{ 
     position: absolute; 
 }
.gearItemHover{
    z-index: -1;
}
.gearItem:hover{
    opacity: 0;
}
.gearItemImage img{
    max-width: 100%;
}
.gearInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2%;
}


/* Section for the footer --------------------------------------------------------------------------------------------------------*/
.footerStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #b75934;
    color: #fff;
    font-size: small;
}

/* Media query -----------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .gearContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navElementStyle{
        display: flex;
    }
    .article-container{
        width: 20%;
        height: 325px;

       
    }
}


